.widget {
  // replace this with your code
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 50%;

  width: 20%;
  height: 50%;

  background: #ffffff;
  box-shadow: 0px 4px 4px #d3e1da;
  border-radius: 10px;
}

h1 {
  position: absolute;
  left: 7.87%;
  right: 15.73%;
  top: 6.45%;
  bottom: 86.13%;

  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 27px;
  white-space: nowrap;

  color: #ee8b72;
}

.oneYear {
  position: absolute;
  left: 12%;
  right: 57.68%;
  top: 20%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 22px;
  color: #ee8b72;
}

.fiveYear {
  position: absolute;
  left: 12%;
  right: 57.68%;
  top: 40%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 22px;
  color: #ee8b72;
}

.goals {
  position: absolute;
  left: 12%;
  right: 57.68%;
  top: 25%;
  bottom: 76.77%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  white-space: nowrap;

  color: #000000;
}
.goals2 {
  position: absolute;
  left: 12%;
  right: 57.68%;
  top: 45%;
  bottom: 76.77%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  white-space: nowrap;

  color: #000000;
}

h3 {
  color: #000000;
  stroke-width: 5px;
  position: fixed;
  top: 314px;
  left: 27%;
}

.line {
  position: absolute;
  left: 7.87%;
  top: 20%;

  height: 120px;

  border: 2px solid #ee8b72;
}

.line2 {
  position: absolute;
  left: 7.87%;
  top: 40%;

  height: 170px;

  border: 2px solid #ee8b72;
}
