@import url('//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&');



.widget {
  // replace this with your code
  position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
width: 30%;
height: 80%;

background: #FFFFFF;
box-shadow: 0px 4px 4px #D3E1DA;
border-radius: 10px;
}

h1 {
  position: absolute;
left: 7.87%;
right: 15.73%;
top: 6.45%;
bottom: 86.13%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;

color: #EE8B72;
}

.oneYear {
  position: absolute;
left: 10.23%;
right: 25.47%;
top: 20%;
bottom: 70.65%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #EE8B72;

}

.fiveYear {
  position: absolute;
  left: 10.23%;
right: 25.47%;
top: 40%;
bottom: 38.39%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #EE8B72;
}

.goals {
  position: absolute;
  left: 10.23%;
right: 9.36%;
top: 22.29%;
bottom: 55.48%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #4B5853;
}
.goals2 {
  position: absolute;
left:10.23%;
right: 5.24%;
top: 42.55%;
bottom: 23.23%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #4B5853;
}

h3 {
  color: #000000;
  stroke-width: 5px;
  position: fixed;
  top: 314px;
  left: 27%;
}

.line {
  position: absolute;
  left: 7.87%;
right: 25.47%;
top: 20%;
bottom: 70.65%;
 
  border-left: 2px solid #ee8b72;
  height: 100px;
  
  


  
}

.line2 {
  position: absolute;
  left: 7.87%;
  top: 40%;

  height: 170px;

  border-left: 2px solid #ee8b72;
}

.img2{
  
  position: absolute;
left: 82.4%;
right: 7.87%;
top: 82.9%;
bottom: 8.71%;


}
